{% extends "base.html" %}

<!-- don't show nav search on index.html -->
{% block nav_search %}{% endblock %}

{% block page_content %}


<div class="container">
    <div class="container p-3 my-3 border">
	Scholia ni serivisi ifasha gukora inyandiko zijyanye nubumenyi ku ngingo
	<a href="topic/">runaka,</a>,
	<a href="author/">ku bantu,</a>,
	<a href="organization/">ibigo runaka,</a>,
	<a href="taxon">ubwoko runaka byibinyabuzima</a>,
	<a href="chemical">ibinyabutabire,</a>
	nibindi hakoreshejwe irangabitabo n’andi makuru ari kuri Wikidata.
        <a href="about">Andi makuru yisumbuyeho...</a>
    </div>
</div>

<div class="container">
  <div class="alert alert-warning" role="alert">
    Scholia ikura amakuru yose kuri Wikidata, kandi Wikidata ifite imbumbe y’umubare runaka w’inyandiko za gihanga , abanditsi ndetse n’indangabitabo. Soma hano byimbitse ibijyanye naho ubushobozi bwa Scholia bugarukira unyuze ku <a href="faq">Ibibazo Bikunze Kwibazwa.</a>.
  </div>
</div>

<div class="container">
    <h2>Shakisha</h2>

    <div class="input-group">
	<input type="text" class="form-control"
	       placeholder="Shakisha inyandiko za gihanga, ingingo runaka, ibyashyizwe hanze, ibigo, ibihembo, inama nibindi." id="searchterm"/>
	<!-- span class="input-group-btn">
	    <button class="btn btn-primary" type="submit">Search</button>
	</span -->
    </div>

    <div id="searchresult"></div>

</div>


<div class="container">

    <h2>Ingero</h2>

    <div class="card-deck mb-3">
	<div class="card mb-4 box-shadow">

            <div class="card-header">
		<h4 class="my-0 font-weight-normal">Imyirondoro</h4>
            </div>
            <div class="card-body">
		<dl>
		    <dt><a href="author/Q18618629">Denny Vrandečić</a></dt>
		    <dd>
					Reba ibikorwa by'umushakashatsi w'urubuga rwa interineti ritwa SemantikeDenny Vrandečić.
					Rwerekana ibyo yakoze ndetse nabo bakoranye nibindi nibindi.
		    </dd>

		    <dt><a href="organization/Q1269766">Kaminuza ya Tekiniki yo muri Danimariki</a></dt>
		    <dd>
					Reba ibikorwa by'ikigo: Abantu bafite aho bahuriye n'ikigo, inyandiko bashyize ahagaragara, aao bazandikanye, niindi nibindi.
		    </dd>

		    <dt>
			<a href="venue/Q1981225">NeuroImage</a>
		    </dt>
		    <dd>
					Soma amakuru ajyanye nikintu runaka. Urugero: Ikinyamakuru ku bumenyi bwa gihanga cg inama ihuje abahanga. Nkiki cyitwa NeuroImage, giherutse gusohora ubushakashatsi, abanditsi, ingingo runaka, aho byakuwe, nibindi nibindi.
		    </dd>

		    <dt>
			<a href="publisher/Q233358">Isomero Rusange rya Siyansi</a>
		    </dt>
		    <dd>
					Soma amakuru ajyanye n'umwanditsi, Isomero rusange rya Siyansi, ukoresheje nk'urugero; Ibinyamakuru bisohora ubushakashatsi.
		    </dd>

		    <dt>
			<a href="topic/Q202864">Zika virus</a>
		    </dt>
		    <dd>
					Soma amakuru ku ngingo runaka zitandukanye, Urugero: Abanditsi cg ibinyamakuru bisohora ubushakashatsi ku ngingo runaka.
		    </dd>
		</dl>
            </div>

	</div>

        <div class="card mb-4 box-shadow">
	    <div class="card-header">
		<h4 class="my-0 font-weight-normal">Ibyahujwe</h4>
	    </div>
	    <div class="card-body">
		<p>Scholia  ishobora kukwereka icyarimwe ibintu byinshi.</p>

		<dl>
		    <dt>
			<a href="organizations/Q1269766,Q193196">Kaminuza ya Tekiniki ya Danimarike na Kaminuza ya Londoni</a>
		    </dt>
		    <dd>
					Gereranya ibigo bibiri cg birenze. Iri ni igereranya hagati ya kaminuza ebyiri abashakashatsi bazo bari gukorana, umubare w'ubushakatsi n'aho amakuru yabwo yakuwe.
		    </dd>
		</dl>

		<dl>
		    <dt>
		        <a href="authors/Q80,Q6135847,Q30085536">Tim Berners-Lee, James Hendler and Ruben Verborgh</a></dt>
            <dd>
		    Gereranya abashakashatsi batatu b'urubuga rwa Semantic.
		    </dd>
		</dl>

		<dl>
		    <dt>
		        <a href="organization/Q1305486/topic/Q68854">Kaminuza ya Costa Rica n'abarumwa n'inzoka</a></dt>
            <dd>
		    Cukumbura ubushakashatsi abantu bafite aho bahuriye n'ibigo runaka basohoye ku ngingo runaka.
		    </dd>
		</dl>




	    </div>
        </div>

        <div class="card mb-4 box-shadow">
	    <div class="card-header">
		<h4 class="my-0 font-weight-normal">Kujya ku yindi miyoboro</h4>
	    </div>
	    <div class="card-body">
		<p>Niba uzi indanga y'ikintu runaka kiri ahandi, Scholia ishobora kugufasha kugishakisha igendeye kurayo makuru.</p>

		<dl>
		    <dt><a href="twitter/utafrith">twitter/utafrith</a></dt>
		    <dd>Gushakisha kuri Twitter ukoresheje izina @utafrith.
					Ibi byakugeza ku kumenya ibijyanye numushakashatsi utuye i Londoni witwa Uta Frith hanyuma bikakuyobora kuri paji ye ya Scholia.</dd>

		    <dt><a href="twitter/mitpress">twitter/mitpress</a></dt>
		    <dd>Ikuyobora ku bigo, nk'igitangazamakuru cya MIT.</dd>

		    <dt><a href="orcid/0000-0002-5494-8126">orcid/0000-0002-5494-8126</a></dt>
		    <dd>Ishakisha 0000-0002-5494-8126 ikaba ari umubare uranga uwitwa Carol Greider.</dd>

		    <dt><a href="github/vedina">github/vedina</a></dt>
		    <dd>
			Ikuyobora inyuze kuri GitHub, nkaha ukava kuri @Vediana  ujya kuri Nina Jeliazkova.
		    </dd>

		    <dt><a href="doi/10.1186/S13321-016-0161-3">doi/10.1186/S13321-016-0161-3</a></dt>
		    <dd>Ikuyobora inyuze kuri DOI</dd>

		    <dt><a href="viaf/59976288">viaf/59976288</a></dt>
		    <dd>Ikuyobora inyuze kuri ndanga ya VIAF, nkaha ikakugeza kuri Ben Feringa</a></li>


		</dl>

	    </div>
        </div>
    </div>
</div>



<div class="container">

    <h2>Ibarurishamibare</h2>

    Scholia ikoresha ububiko bwa Wikidata ku makuru yose. Ese ububiko bw’amakuru yacu yose hamwe bwaba bungana bute?

    <table class="table table-hover" id="statistics"></table>

</div>

{% endblock %}


{% block scripts %}
{{super()}}

<script type="text/javascript">

 statisticsSparql = `
SELECT ?count ?description
WHERE {
{ {SELECT (COUNT(*) AS ?c) WHERE {?s ?p ?o} } BIND("Igiteranyo cy'inyabutatu" AS ?d)} UNION
{ {SELECT (COUNT(*) AS ?c) WHERE {?p a wikibase:Property} } BIND("Igiteranyo cy'ibiranga amakuru" AS ?d)} UNION
{ {SELECT (COUNT(*) AS ?c) WHERE {[] wdt:P50 []} } BIND("Aho wasanga ibyakozwe n'abanditsi" AS ?d)} UNION
{ {SELECT (COUNT(*) AS ?c) WHERE {[] wdt:P69 []} } BIND("Aho wasanga abantu bize " AS ?d)} UNION
{ {SELECT (COUNT(*) AS ?c) WHERE {[] wdt:P108 []} } BIND("Aho wasanga abantu n'abakoresha" AS ?d)} UNION
{ {SELECT (COUNT(*) AS ?c) WHERE {[] wdt:P166 []} } BIND("Aho wasanga abantu n'ibihembo" AS ?d)} UNION
{ {SELECT (COUNT(*) AS ?c) WHERE {[] wdt:P212 []} } BIND("Imibare igize ISBN 13" AS ?d)} UNION
{ {SELECT (COUNT(*) AS ?c) WHERE {[] wdt:P225 []} } BIND("Amazina ahurijwe hamwe" AS ?d)} UNION
{ {SELECT (COUNT(*) AS ?c) WHERE {[] wdt:P234 []} } BIND("InChIs" AS ?d)} UNION
{ {SELECT (COUNT(*) AS ?c) WHERE {[] wdt:P236 []} } BIND("ISSNs" AS ?d)} UNION
{ {SELECT (COUNT(*) AS ?c) WHERE {[] wdt:P496 []} } BIND("ORCIDs" AS ?d)} UNION
{ {SELECT (COUNT(*) AS ?c) WHERE {[] wdt:P625 []} } BIND("Indangahantu" AS ?d)} UNION
{ {SELECT (COUNT(*) AS ?c) WHERE {[] wdt:P638 []} } BIND("ID z'amakuru ajyanye n'intungamubiri" AS ?d)} UNION
{ {SELECT (COUNT(*) AS ?c) WHERE {[] wdt:P686 []} } BIND("ID y'intekerezo z'akanyangingo" AS ?d)} UNION
{ {SELECT (COUNT(*) AS ?c) WHERE {[] wdt:P698 []} } BIND("Inyandiko za Kiganga ID" AS ?d)} UNION
{ {SELECT (COUNT(*) AS ?c) WHERE {[] wdt:P818 []} } BIND("arXiv IDs" AS ?d)} UNION
{ {SELECT (COUNT(*) AS ?c) WHERE {[] wdt:P859 []} } BIND("Amahuza ajyana ku baterankunga" AS ?d)} UNION
{ {SELECT (COUNT(*) AS ?c) WHERE {[] wdt:P921 []} } BIND("Aho wasanga ibyakozwe n'ingingo z'ingenzi" AS ?d)} UNION
{ {SELECT (COUNT(*) AS ?c) WHERE {[] wdt:P932 []} } BIND("Inyandiko za Kiganga za ID zihurijwe hamwe" AS ?d)} UNION
{ {SELECT (COUNT(*) AS ?c) WHERE {[] wdt:P356 []} } BIND("Ibintu bifite DOI" AS ?d)} UNION
{ {SELECT (COUNT(*) AS ?c) WHERE {[] wdt:P1416 []} } BIND("Aho wasanga amahuriro hagati y'abantu n'ibindi bintu bakora" AS ?d)} UNION
{ {SELECT (COUNT(*) AS ?c) WHERE {[] wdt:P2093 []} } BIND("Izina ry'umwanditsi" AS ?d)} UNION
{ {SELECT (COUNT(*) AS ?c) WHERE {[] wdt:P2427 []} } BIND("Ibintu bifite GRID ID" AS ?d)} UNION
{ {SELECT (COUNT(*) AS ?c) WHERE {[] wdt:P2860 []} } BIND("Aho byakuwe" AS ?d)} UNION
{ {SELECT (COUNT(*) AS ?c) WHERE {[] wdt:P31 wd:Q13442814.} } BIND("Inyandiko za gihanga" AS ?d)}
BIND (?c AS ?count)
BIND (?d AS ?description)
}
ORDER BY DESC(?c)
`

 $(document).ready(function() {
     sparqlToDataTable(statisticsSparql, "#statistics", options={paging: false});
 });

</script>

{% endblock %}
